In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

# course.csv

In [2]:
schedule = pd.read_csv('schedule.csv')
schedule.head()

,cancelled,date_of_cancellation,term,course,ID,section,title,mode,units,level,...,second_instructor_uid,second_room,seats_offered,reg_count,adj_reg,wait_count,total_tuition_units,classroom_capacity,cap_remaining_seats,classroom_remaining_seats
0,True,NaN,20153,NaN,NaN,14025,External Financial Reporting Issues,C,4.0,NaN,...,NaN,NaN,42,24,NaN,NaN,96.0,46.0,18,22.0
1,False,NaN,20153,ACCT,370,14025,External Financial Reporting Issues,C,4.0,NaN,...,NaN,NaN,42,24,NaN,NaN,96.0,46.0,18,22.0
2,True,NaN,20153,NaN,NaN,14026,External Financial Reporting Issues,C,4.0,NaN,...,NaN,NaN,42,40,NaN,NaN,160.0,46.0,2,6.0
3,False,NaN,20153,ACCT,370,14026,External Financial Reporting Issues,C,4.0,NaN,...,NaN,NaN,42,40,NaN,NaN,160.0,46.0,2,6.0
4,True,NaN,20153,NaN,NaN,14027,External Financial Reporting Issues,C,4.0,NaN,...,NaN,NaN,42,42,NaN,NaN,168.0,46.0,0,4.0

In [3]:
# Drop records without a course name and select 500-level courses 
schedule.dropna(subset=['course'],axis=0,inplace=True)
course = schedule[(schedule['ID'].str.startswith('5'))&(schedule['term']==20191)]

In [4]:
course = course[['course','units','ID','section','first_instructor','first_instructor_uid','first_days',\
                 'first_begin_time','first_end_time','classes_begin','classes_end','seats_offered']]
course.reset_index(drop=True,inplace=True)

In [5]:
course

,course,units,ID,section,first_instructor,first_instructor_uid,first_days,first_begin_time,first_end_time,classes_begin,classes_end,seats_offered
0,ACCT,3.0,574,14201,"Wong, T J",8.238349e+09,TH,11:00:00,12:20:00,1/7/2019,4/26/2019,40
1,ACCT,3.0,574,14202,"Wong, T J",8.238349e+09,TH,11:00:00,12:20:00,1/7/2019,4/26/2019,10
2,ACCT,3.0,530,14206,"Kling, Gregory",8.348095e+09,MW,9:30:00,10:50:00,1/7/2019,4/26/2019,35
3,ACCT,3.0,530,14207,"Kling, Gregory",8.348095e+09,MW,8:00:00,9:20:00,1/7/2019,4/26/2019,33
4,ACCT,3.0,530,14208,"Smith, Harris",5.584314e+09,MW,15:30:00,16:50:00,1/7/2019,4/26/2019,29
5,ACCT,3.0,530,14209,"Kling, Gregory",8.348095e+09,MW,17:00:00,18:20:00,1/7/2019,4/26/2019,28
6,ACCT,0.0,530,14211,"Kling, Gregory",8.348095e+09,F,12:30:00,13:50:00,1/7/2019,4/26/2019,140
7,ACCT,3.0,585,14213,"Smith, Lori, L",6.969639e+09,MW,14:00:00,15:20:00,1/7/2019,4/26/2019,34
8,ACCT,3.0,585,14214,"Smith, Lori, L",6.969639e+09,MW,9:30:00,10:50:00,1/7/2019,4/26/2019,36
9,ACCT,3.0,585,14215,"Smith, Lori, L",6.969639e+09,MW,11:00:00,12:20:00,1/7/2019,4/26/2019,36
10,ACCT,1.5,526,14232,"Wang, Shiing-Wu",7.876020e+09,F,9:30:00,10:50:00,1/7/2019,4/26/2019,32
11,ACCT,3.0,551T,14240,"Mills, Patricia",7.334830e+09,H,19:30:00,21:00:00,1/7/2019,4/26/2019,40
12,ACCT,1.5,562,14243,"Jackson, Cecil, W",9.968253e+09,MW,14:00:00,15:20:00,1/7/2019,3/2/2019,45
13,ACCT,3.0,568T,14246,"Wang, Shiing-Wu",7.876020e+09,TH,9:30:00,10:50:00,1/7/2019,4/26/2019,31
14,ACCT,3.0,569T,14247,"Mills, Patricia",7.334830e+09,TH,14:00:00,15:20:00,1/7/2019,4/26/2019,50
15,ACCT,3.0,572,14256,"Smith, Harris",5.584314e+09,M,18:30:00,21:30:00,1/7/2019,4/26/2019,56
16,ACCT,3.0,570T,14257,"Swenson, Charles, W",9.185995e+09,M,19:30:00,21:30:00,1/7/2019,4/26/2019,30
17,ACCT,3.0,571T,14258,"Kling, Gregory",8.348095e+09,MW,12:30:00,13:50:00,1/7/2019,4/26/2019,38
18,ACCT,3.0,557,14269,"Lennox, Clive",7.385768e+09,MW,12:30:00,13:50:00,1/7/2019,4/26/2019,30
19,ACCT,3.0,580T,14273,"Boschetto, David",9.724330e+09,T,19:30:00,21:00:00,1/7/2019,4/26/2019,30
20,ACCT,3.0,583,14291,"Bader, Paul",2.088995e+09,MW,11:00:00,12:20:00,1/7/2019,4/26/2019,50
21,ACCT,3.0,557,14299,"Lennox, Clive",7.385768e+09,MW,14:00:00,15:20:00,1/7/2019,4/26/2019,30
22,BAEP,3.0,599,14352,"Borquez, Anthony",8.833424e+09,W,18:30:00,21:30:00,1/7/2019,4/26/2019,36
23,BAEP,3.0,563,14405,"Dann, Jeremy, Brooks",7.807126e+09,W,18:30:00,21:30:00,1/7/2019,4/26/2019,56
24,BAEP,3.0,559,14412,"Nikkhoo, Ivan, K",4.781394e+09,M,18:30:00,21:30:00,1/7/2019,4/26/2019,57
25,BAEP,1.5,561,14414,"Schmid, Molly",2.959613e+09,H,18:30:00,21:30:00,3/4/2019,4/26/2019,48
26,BAEP,3.0,555,14416,"Lubinski, Christina",9.916135e+09,TH,17:00:00,18:20:00,1/7/2019,4/26/2019,50
27,BAEP,1.5,599,14421,NaN,NaN,W,15:30:00,18:20:00,1/7/2019,3/2/2019,15
28,BAEP,1.5,562,14425,"Nikkhoo, Ivan, K",4.781394e+09,M,17:00:00,18:20:00,1/7/2019,4/26/2019,57
29,BAEP,2.0,549,14426,"Harrer, Christopher",6.987502e+09,FS,TBA,TBA,1/4/2019,5/4/2019,95
...,...,...,...,...,...,...,...,...,...,...,...,...
167,MOR,3.0,557,16698,"Mische, Michael",5.632610e+09,MW,14:00:00,15:20:00,1/7/2019,4/26/2019,36
168,MOR,3.0,555,16699,"Perlman, Kenneth, Spencer",2.705168e+09,M,18:30:00,21:30:00,1/7/2019,4/26/2019,48
169,MOR,3.0,564,16700,"Rindova, Violina",5.604525e+09,M,15:30:00,18:20:00,1/7/2019,4/26/2019,48
170,MOR,3.0,566,16708,"Adler, Paul, S",8.285354e+09,W,15:30:00,18:20:00,1/7/2019,4/26/2019,48
171,MOR,3.0,569,16716,"Coombs, Michael, Wallace",3.621646e+09,TH,9:30:00,10:50:00,1/7/2019,4/26/2019,56
172,MOR,3.0,569,16717,"Coombs, Michael, Wallace",3.621646e+09,T,18:30:00,21:30:00,1/7/2019,4/26/2019,60
173,MOR,1.5,588,16720,"Bhambri, Arvind",7.043327e+09,H,18:30:00,21:30:00,3/4/2019,4/26/2019,48
174,MOR,3.0,571,16723,"Bresnahan, Chris",6.269703e+09,T,18:30:00,21:30:00,1/7/2019,4/26/2019,78
175,MOR,3.0,579,16725,"Carter, David, M",5.599530e+09,H,18:30:00,21:30:00,1/7/2019,4/26/2019,78
176,MOR,1.5,547,16726,"Nahass, Gregory, David",1.227223e+09,M,18:30:00,21:30:00,3/4/2019,4/26/2019,54
177,MOR,1.5,598,16728,"Bresnahan, Chris",6.269703e+09,T,14:00:00,15:20:00,1/7/2019,4/26/2019,23
178,MOR,3.0,599,16732,"Harper, Shaun, Ramon",5.986142e+09,T,15:30:00,18:20:00,1/7/2019,4/26/2019,75
179,MOR,3.0,570,16733,"Bresnahan, Chris",6.269703e+09,MW,17:00:00,18:20:00,1/7/2019,4/26/2019,54
180,ACCT,3.0,574,14203/14212,"Wong, T J",8.238349e+09,TH,12:30:00,13:50:00,1/7/2019,4/26/2019,50
181,ACCT,3.0,559,14225/14226,"Owens, John, D",3.061027e+09,TH,8:00:00,9:20:00,1/7/2019,4/26/2019,48
182,ACCT,3.0,559,14235/14236,"Owens, John, D",3.061027e+09,TH,9:30:00,10:50:00,1/7/2019,4/26/2019,50
183,ACCT,1.5,558,14239/14241,"Aaron, Tony",1.398374e+09,TH,14:00:00,15:20:00,3/4/2019,4/26/2019,28
184,ACCT,3.0,581,14276/14277,"Leonetti, James, H",4.934472e+09,TH,17:00:00,18:20:00,1/7/2019,4/26/2019,60
185,ACCT,3.0,537,14280/14281,"Li, Xin",2.324020e+09,TH,15:30:00,16:50:00,1/7/2019,4/26/2019,50
186,ACCT,1.5,532,14286/14287,"Braunegg, George",8.468761e+09,TH,11:00:00,12:20:00,3/4/2019,4/26/2019,70
187,ACCT,1.5,533,14288/14289,"Wang, Shiing-Wu",7.876020e+09,TH,11:00:00,12:20:00,1/7/2019,3/2/2019,55
188,ACCT,3.0,584,14292/14293,"Barcal, Jack",6.388728e+09,W,18:30:00,21:30:00,1/7/2019,4/26/2019,70
189,BAEP,3.0,555,14402/14410,"Lubinski, Christina",9.916135e+09,H,18:30:00,21:30:00,1/7/2019,4/26/2019,49
190,BAEP,3.0,554,14408/14409,"Knapp, Thomas, Wilson",2.691677e+09,T,18:30:00,21:30:00,1/7/2019,4/26/2019,52
191,BAEP,3.0,555,14431/14432,"Wasserman, Noam",4.759233e+09,TH,12:30:00,13:50:00,1/7/2019,4/26/2019,50
192,BAEP,3.0,555,14445/14449,"Wasserman, Noam",4.759233e+09,TH,14:00:00,15:20:00,1/7/2019,4/26/2019,50
193,BAEP,3.0,554,14447/14448,"Knapp, Thomas, Wilson",2.691677e+09,T,15:30:00,18:20:00,1/7/2019,4/26/2019,52
194,GSBA,3.0,548,15905/15906,"Bristow, Duke",2.893585e+09,MW,11:00:00,12:20:00,1/7/2019,4/26/2019,76
195,DSO,3.0,549,16285/16294,"Vyas, Nick",8.007145e+09,M,18:30:00,21:30:00,1/7/2019,4/26/2019,62
196,MKT,3.0,560,16541/16543,"Badame, Diane, Marie",7.620735e+09,W,18:30:00,21:30:00,1/7/2019,4/26/2019,54

In [6]:
# Only schedule courses with 0, 1, 1.5,and 3 credit units
temp = course[(course['units']==1.5)|(course['units']==3)|(course['units']==0)|(course['units']==1)]
# Only schedule courses from Monday to Friday
temp = temp[(temp['first_days']!='S')&(temp['first_days']!='FS')]
# Only schedule courses that are assigned an instructor
temp = temp.dropna(subset=['first_instructor'])
# Only schedule courses that already have a starting date and ending date
temp = temp.dropna(subset=['classes_begin'])
temp = temp.reset_index(drop=True)

In [7]:
# all classes start in January and February should be considered starting in the first-half semester 
# all classes start in March should be considered starting in the second-half semester
temp['classes_begin'].unique()

array(['1/7/2019', '3/4/2019', '3/18/2019', '1/8/2019', '1/9/2019',
       '1/10/2019', '2/25/2019', '2/19/2019', '2/20/2019', '2/21/2019',
       '1/16/2019', '1/15/2019'], dtype=object)

In [8]:
temp['classes_end'].unique()
# all classes end in February and March should be considered ending in the first-half semester
# all classes end in April and May should be considered ending in the second-half semester

array(['4/26/2019', '3/2/2019', '5/3/2019', '2/6/2019', '2/7/2019',
       '2/4/2019', '4/24/2019', '4/23/2019', '4/18/2019', '2/10/2019',
       '2/21/2019'], dtype=object)

In [9]:
temp['frequency'] = temp["first_days"].apply(lambda x: 2 if x == "MW" or x == "TH" else 1)

In [10]:
# Change 0 and 1 unit to 1.5 units 
for i in range(temp.shape[0]):
    if temp.loc[i,'units']==0:
        temp.loc[i,'units']=1.5
    elif temp.loc[i,'units']==1:
        temp.loc[i,'units']=1.5

In [11]:
# Decide if this is a first-half, second-half, or full-semeter course
for i in range(temp.shape[0]):
    if temp.loc[i,'classes_begin']<'3/1/2019' and temp.loc[i,'classes_end']<'4/1/2019':
        temp.loc[i,'semester'] = 'first'
    elif temp.loc[i,'classes_begin']<'3/1/2019' and temp.loc[i,'classes_end']>='4/1/2019':
        temp.loc[i,'semester'] = 'full'
    else:
        temp.loc[i,'semester'] = 'second'

In [12]:
for i in range(temp.shape[0]):
    if temp.loc[i,'units']==3:
        if temp.loc[i,'semester']=='full':
            if temp.loc[i,'frequency']==1:
                temp.loc[i,'length']=180
            else:
                temp.loc[i,'length']=90
        else:
            if temp.loc[i,'frequency']==1:
                temp.loc[i,'length']=360
            else:
                temp.loc[i,'length']=180
    else:
        if temp.loc[i,'semester']=='full':
            if temp.loc[i,'frequency']==1:
                temp.loc[i,'length']=90
            else:
                temp.loc[i,'length']=45
        else: 
            if temp.loc[i,'frequency']==1:
                temp.loc[i,'length']=180
            else:
                temp.loc[i,'length']=90
# Since all graudate courses have to be either 1.5 hr or 3 hr, classes with 'length'=360 or 45 will be deleted

In [13]:
temp['length'].unique()

array([ 90., 180.,  45.])

In [14]:
temp = temp[temp['length']!=45]

In [15]:
#temp.to_csv('course.csv')

# faculty.csv

In [16]:
ranks = []
for i in range(temp['first_instructor'].nunique()):
    temp_rank = np.random.choice([1,2,3], size = 3, p=[1/3, 1/3, 1/3], replace = False)
    ranks.append(list(temp_rank))
ranks = pd.DataFrame(ranks,columns=['Morning','Evening','Other'])
ranks['first_instructor'] = temp['first_instructor'].unique()
ranks['timeslot_0'] = ranks['Morning']
ranks['timeslot_1'] = ranks['Morning']
ranks['timeslot_2'] = ranks['Other']
ranks['timeslot_3'] = ranks['Other']
ranks['timeslot_4'] = ranks['Other']
ranks['timeslot_5'] = ranks['Other']
ranks['timeslot_6'] = ranks['Evening']
ranks['timeslot_7'] = ranks['Evening']
ranks['timeslot_8'] = ranks['Evening']
ranks.drop(columns=['Morning','Evening','Other'],inplace=True)

In [17]:
ranks

,first_instructor,timeslot_0,timeslot_1,timeslot_2,timeslot_3,timeslot_4,timeslot_5,timeslot_6,timeslot_7,timeslot_8
0,"Wong, T J",3,3,2,2,2,2,1,1,1
1,"Kling, Gregory",3,3,1,1,1,1,2,2,2
2,"Smith, Harris",2,2,1,1,1,1,3,3,3
3,"Smith, Lori, L",3,3,2,2,2,2,1,1,1
4,"Wang, Shiing-Wu",1,1,3,3,3,3,2,2,2
5,"Mills, Patricia",2,2,1,1,1,1,3,3,3
6,"Jackson, Cecil, W",2,2,3,3,3,3,1,1,1
7,"Swenson, Charles, W",3,3,1,1,1,1,2,2,2
8,"Lennox, Clive",3,3,2,2,2,2,1,1,1
9,"Boschetto, David",2,2,3,3,3,3,1,1,1
10,"Bader, Paul",3,3,1,1,1,1,2,2,2
11,"Borquez, Anthony",2,2,1,1,1,1,3,3,3
12,"Dann, Jeremy, Brooks",1,1,2,2,2,2,3,3,3
13,"Nikkhoo, Ivan, K",1,1,2,2,2,2,3,3,3
14,"Schmid, Molly",3,3,1,1,1,1,2,2,2
15,"Lubinski, Christina",1,1,3,3,3,3,2,2,2
16,"Gunther Shugerman, Sherry",3,3,2,2,2,2,1,1,1
17,"Yin, Pai-Ling",3,3,1,1,1,1,2,2,2
18,"Maltzer, Eric",2,2,1,1,1,1,3,3,3
19,"Kickul, Jill",3,3,2,2,2,2,1,1,1
20,"Harmeling, Susan, S",1,1,3,3,3,3,2,2,2
21,"Patton, Gregory, Hall",3,3,2,2,2,2,1,1,1
22,"Snyder, Kirk, Dylan",1,1,2,2,2,2,3,3,3
23,"Nazarian, Fatemeh, Ibrahimi",3,3,2,2,2,2,1,1,1
24,"Korteweg, Arthur",1,1,2,2,2,2,3,3,3
25,"Abrams, Scott",3,3,2,2,2,2,1,1,1
26,"Levitin, Lloyd, Alan",3,3,2,2,2,2,1,1,1
27,"Plotts, Julia, Gardner",2,2,3,3,3,3,1,1,1
28,"Joslin, Scott",3,3,1,1,1,1,2,2,2
29,"Safarzadeh, Mohammad, R",2,2,3,3,3,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...
67,"Fan, Yingying",3,3,1,1,1,1,2,2,2
68,"Dasu, Sriram",3,3,2,2,2,2,1,1,1
69,"Vincent, Laurence",1,1,2,2,2,2,3,3,3
70,"Strauss, Sasha",1,1,2,2,2,2,3,3,3
71,"Siddarth, Sivaramakrishnan",3,3,2,2,2,2,1,1,1
72,"Frazier, Gary, Lee",1,1,2,2,2,2,3,3,3
73,"Weiss, Allen",3,3,1,1,1,1,2,2,2
74,"Dukes, Anthony",2,2,1,1,1,1,3,3,3
75,"Puranam, Dinesh",1,1,2,2,2,2,3,3,3
76,"Boudreau, John, W",2,2,3,3,3,3,1,1,1
77,"Mische, Michael",3,3,2,2,2,2,1,1,1
78,"Nelson, Alan, Everett",3,3,2,2,2,2,1,1,1
79,"Perlman, Kenneth, Spencer",3,3,2,2,2,2,1,1,1
80,"Rindova, Violina",1,1,2,2,2,2,3,3,3
81,"Adler, Paul, S",3,3,1,1,1,1,2,2,2
82,"Coombs, Michael, Wallace",1,1,2,2,2,2,3,3,3
83,"Bhambri, Arvind",3,3,1,1,1,1,2,2,2
84,"Bresnahan, Chris",1,1,2,2,2,2,3,3,3
85,"Carter, David, M",2,2,1,1,1,1,3,3,3
86,"Nahass, Gregory, David",3,3,2,2,2,2,1,1,1
87,"Harper, Shaun, Ramon",2,2,3,3,3,3,1,1,1
88,"Owens, John, D",3,3,2,2,2,2,1,1,1
89,"Aaron, Tony",2,2,3,3,3,3,1,1,1
90,"Leonetti, James, H",1,1,3,3,3,3,2,2,2
91,"Li, Xin",1,1,2,2,2,2,3,3,3
92,"Braunegg, George",1,1,3,3,3,3,2,2,2
93,"Barcal, Jack",1,1,3,3,3,3,2,2,2
94,"Knapp, Thomas, Wilson",1,1,2,2,2,2,3,3,3
95,"Wasserman, Noam",3,3,1,1,1,1,2,2,2
96,"Vyas, Nick",1,1,3,3,3,3,2,2,2

# classroom.csv

In [18]:
classroom = pd.Series()
classroom['JKP102'] = 52
classroom['JKP104'] = 56
classroom['JKP110'] = 77
classroom['JKP112'] = 77
classroom['JKP202'] = 54
classroom['JKP204'] = 54
classroom['JKP210'] = 78
classroom['JKP212'] = 78
classroom = classroom.reset_index()
classroom.columns=['classroom','capacity']

In [19]:
classroom

  classroom  capacity
0    JKP102        52
1    JKP104        56
2    JKP110        77
3    JKP112        77
4    JKP202        54
5    JKP204        54
6    JKP210        78
7    JKP212        78

In [20]:
#classroom.to_csv('classroom.csv')

# timeslot.csv

In [21]:
timeslot = pd.Series()
n = 0
for time in ['8:00am-9:30am','9:30am-11:00am','11:00am-12:30pm','12:30pm-2:00pm','2:00pm-3:30pm',\
                            '3:30pm-5:00pm','5:00pm-6:30pm','6:30pm-8:00pm','8:00pm-9:30pm']:
    timeslot['{}'.format(n)] = time
    n += 1

In [22]:
timeslot

0      8:00am-9:30am
1     9:30am-11:00am
2    11:00am-12:30pm
3     12:30pm-2:00pm
4      2:00pm-3:30pm
5      3:30pm-5:00pm
6      5:00pm-6:30pm
7      6:30pm-8:00pm
8      8:00pm-9:30pm
dtype: object

In [23]:
#timeslot.to_csv('timeslot.csv')